
<%- include('include/header'); %>
<%- include('include/navbar'); %>
<%- include('component/modalInfo'); %>

<body id="tavernePage">
    <section class="wrapperBody">
        <h1>je suis la taverne du mode : <%= gameMode %></h1>

    </section>
    <%- include('include/footer'); %>      
</body>
</html>