<%- include('include/header'); %>
<body id="tavernePage">
    <section class="wrapperBody">        
        
        <section id="playerSection" class="boxShadow">
            <div class="content overflowAuto boxShadow">
                <h1> 
                    <img src="images/icon/<%= hero.type %>.png" alt="" class="iconAvatar" data-idPerso='<%= hero.id %>'> 
                    <span class="playerName"><%= hero.name %></span>
                </h1>
                <hr>

                <div>
                    <img src="images/elements/<%= hero.type %>.png" alt="fiche avatar" class="avatar">
                </div>

                <div class="centerText">
                    <button class="btn" onclick="toggle_NewGame()">Nouvelle partie</button>
                    <button class="btn" onclick="toggle_LoadGame()">Continuer la quête</button>
                </div>
    
                <% if(locals.partie){ %>
                    <div id="gameConfig" data-idTable="<%= locals.partie.id %>">
                        <% if(locals.partie.slots > 1){ %>
                            <hr>
                            <section id="slotsBox">
                                <div class="niceTitle">Joueurs a ma table : </div>
                                <div id="playersAtMyTable">            
                                    <ul id="ratBox">
                                        <% for(let i=1; i < locals.partie.slots; i++){ %>
                                            <li id="rat_<%= i + 1 %>" class="hero">
                                                <img src="images/icon/rat.png" class="iconAvatar rat" alt="rat icon" data-typeMonster="Rat">
                                            </li>    
                                        <% } %>
                                    </ul>                                                         
                                </div>
                            </section>                    
                        <% } %>
                        <hr>
                        <section id="questBox">
                            <div class="niceTitle">Croisade : <%= locals.partie.name %> </div>
                            <div class="niceTitle">Quête : etage <%= locals.partie.etage %> </div>
                            <div class="bgQuest"></div>
                        </section>                    
        
                        <hr>
                        <div class="centerText formSubmit">
                            <a href='/game/<%= locals.partie.mode  %>/<%= locals.partie.etage  %>' class="btn">
                                <img src="images/icon/boots.png" alt="icone bottes"> 
                                <% if(locals.partie.slots == 1){ %>
                                    Partir en solitaire
                                <% } else if (locals.partie.slots == 2){ %>
                                    Partir avec ce vaurien
                                <% } else { %>
                                    Partir avec ces vauriens
                                <% } %>
                            </a> 
                        </div>                        
                    </div>
                <% } %>

                <div id="tableInvited" data-idTable="">
                    <hr>
                    <h2>Je trinque actuellement avec :</h2>
                    <ul>
                        <li id="hero_1" class="hero"></li>
                        <li id="hero_2" class="hero"></li>
                        <li id="hero_3" class="hero"></li>
                        <li id="hero_4" class="hero"></li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="taverneSection" class="<%= gameMode %>">
            <%- include('./component/chat'); %>
            <%- include('./component/newGame'); %>
            <%- include('./component/loadGame'); %>
            <%- include('./component/fichePerso'); %>
            <%- include('./component/tableTaverne'); %>
            <div id="invitationBox"></div>
        </section>

        <section id="allPlayerSection" class="boxShadow">
            <div class="content overflowAuto boxShadow">
                <div class="niceTitle">Heros à la taverne :</div>
                <ul class="connectedUser">
                </ul>

                <div class="niceTitle">Heros non present :</div>
                <ul class="notConnectedUser">                    
                </ul>
            </div>
        </section>

    </section>
    <%- include('include/footer'); %>      
</body>
</html>