<%- include('include/header'); %>
<body id="tavernePage">
    <section class="wrapperBody">        
        
        <section id="playerSection" class="boxShadow">
            <div class="content overflowAuto boxShadow">
                <h1> 
                    <img src="images/icon/<%= hero.type %>.png" alt="" class="iconAvatar" data-idPerso='<%= hero.id %>'> 
                    <span class="playerName"><%= hero.name %></span>
                </h1>
                <hr>

                <div>
                    <img src="images/elements/<%= hero.type %>.png" alt="fiche avatar" class="avatar">
                </div>

                <div class="centerText">
                    <button class="btn" onclick="toggle_NewGame()">Nouvelle partie</button>
                    <button class="btn" onclick="toggle_LoadGame()">Continuer la quête</button>
                </div>
    
                <form action="/game-normal" method="POST">
                    <input type="text" name="mode" value='<%= gameMode %>' hidden>
                    <hr>

                    <div class="niceTitle">Joueurs a ma table : </div>
                    <div id="playersAtMyTable">
                        <div class="ratBox">
                            <img src="images/icon/rat.png" class="iconAvatar" alt="rat icon" data-typeMonster="Rat">

                            <img src="images/icon/rat.png" class="iconAvatar" alt="rat icon" data-typeMonster="Rat">

                            <img src="images/icon/rat.png" class="iconAvatar" alt="rat icon" data-typeMonster="Rat">
                            
                        </div>                        
                    </div>
                    <hr>
                    
                    <div class="quete">
                        <div class="niceTitle">Croisade : <span>Toto la frite</span> </div>
                        <div class="niceTitle">Quête : <span>L'epreuve</span> </div>
                        <div class="bgQuest"></div>
                    </div>
    
                    <hr>
                    <div class="centerText formSubmit">
                        <button type="submit" class="btn">
                            <img src="images/icon/boots.png" alt="icone bottes"> Partir avec ces vauriens
                        </button> 
                    </div>
                </form>
            </div>
        </section>

        <section id="taverneSection" class="<%= gameMode %>">
            <%- include('./component/chat'); %>
            <%- include('./component/newGame'); %>
            <%- include('./component/loadGame'); %>
            <%- include('./component/fichePerso'); %>
            <div id="invitationBox"></div>
        </section>

        <section id="allPlayerSection" class="boxShadow">
            <div class="content overflowAuto boxShadow">
                <div class="niceTitle">Heros à la taverne :</div>
                <ul class="connectedUser">
                </ul>

                <div class="niceTitle">Heros non present :</div>
                <ul class="notConnectedUser">                    
                </ul>
            </div>
        </section>

    </section>
    <%- include('include/footer'); %>      
</body>
</html>